* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    font-weight: bold;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: #181818;
    border: none;
}

#clock {
    color: #d8d8d8;
}

#sway-language,
#pulseaudio,
#battery,
#cpu,
#workspaces button {
    padding: 5px 5px;
    color: #828482;
}

#workspaces button.focused {
    color: #d8d8d8;
}

button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;
}

#custom-separator {
    /* color: #828482; */
}

#custom-begin {
    /* color: #828482; */
    margin: 0 8px 0 0;
}

#custom-end {
    /* color: #828482; */
    margin: 0 10px 0 5px; /* top right bottom left */
}
