* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: #181818;
    border: none;
}

#clock {
    padding: 0 10px;
}

/* #keyboard-state, */
#pulseaudio,
#battery,
#cpu {
    padding: 0 6px;
}

#workspaces button {
    padding: 0 8px;
    color: #828482;
}

#workspaces button.focused {
    color: #d8d8d8;
}

button:hover {
  box-shadow: none; 
  text-shadow: none;
  background: none;
  transition: none;
}
